body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../Images/login-signup-bg.png') no-repeat center center fixed;
    background-size: cover;
}


.navbar {
    background-color: transparent !important;
    box-shadow: none;
    border: none !important;
    z-index: 1000;
}

.navbar-brand {
    margin-left: 20px;
}

h5 {
    font-size: 20px;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight: bold;
}

.nav-link {
    color: #e60e0e !important;
    font-size: 1.1rem;
    margin-right: 90px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: bold;
}

.nav-link::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #e60e0e;
    position: absolute;
    left: 0;
    margin-left: 30px;
    bottom: -5px;
    width: 50%;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.container a {
    color: white;
    font-size: 16px;
}

.text-section {
    color: white;
    margin-top: 0px;
}

.text-section h1 {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.text-section h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 40px;
    position: relative;
}

.text-section h2::after {
    content: "";
    position: absolute;
    margin-bottom: 10px;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 3px;
    background-color: white;
}

.text-section a {
    font-size: 25px;
    font-weight: bold;
}

.text-section p {
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
}

.signup-box h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #e60e0e;
    font-weight: bolder;
}

form label {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    display: block;
    margin-left: 6px;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 20px;
    height: 45px;
    font-size: 14px;
}

.btn-signup {
    background-color: #e60e0e;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-signup:hover {
    background-color: #c50909;
}

/* Custom Alert Box Styling */
.custom-alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom-alert h3 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom-alert p {
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-alert .close-btn {
    padding: 8px 15px;
    background-color: #e60e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.custom-alert .close-btn:hover {
    background-color: #c50909;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}



/* Custom Alert Box Styling */
.custom-alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 180px;
}

.custom-alert.success {
    background-color: #0ab833;
    /* Green background for success messages */
}

.custom-alert.error {
    background-color: #e60e0e;
    /* Red background for error messages */
}

.custom-alert h3 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.custom-alert p {
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-alert .close-btn {
    padding: 8px 15px;
    background-color: #d80c0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.custom-alert .close-btn:hover {
    background-color: #e60e0e;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}